.git
.local
.agents
.codex
.idea
**/.env*
**/.dev.vars*
**/node_modules
**/dist
/build
/apps/*/build
/packages/*/build
**/coverage
**/.wrangler
**/.turbo
**/playwright-report
**/test-results
preview-artifact
production-artifact
**/*.tsbuildinfo
**/doppler.yaml
**/wrangler.json
**/wrangler.jsonc
**/wrangler.toml
**/handoff.json
